:root {
  --black: #0c0c0c;
  --white: #ffffff;
}
.FULLPAGEWRAPPER,
body,
html {
  overscroll-behavior: none;
}
body,
h1,
h2,
h3,
h4,
html,
p {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
[data-selectable] {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
.team-img-w {
  aspect-ratio: 0.7/1;
}
[data-slider="container"] {
  position: relative;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}
[data-slider="container"] > div {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}
.w-editor [data-loader="w"] {
  display: none;
}
svg {
  fill: var(--white);
}
[data-a="char"] div,
[data-a="line"] div,
[data-a="word"] div {
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  line-height: 0.2em;
}
[data-a="char"] div div,
[data-a="line"] div div,
[data-a="word"] div div {
  box-sizing: border-box;
  display: inline-block;
  line-height: 1.1em;
}
[data-a="down"],
[data-a="left"],
[data-a="right"] {
  overflow: hidden;
}
